## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [60]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
usa_cities = vacation_df.loc[vacation_df["Country"] == "US"]
usa_cities

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
17,54,Copperas Cove,US,75.96,haze,31.1241,-97.9031,Super 8 by Wyndham Copperas Cove
32,83,Laguna,US,77.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
75,201,Santa Barbara,US,79.36,clear sky,34.7333,-120.0343,Upper Ballard Campground
88,235,Saint George,US,72.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
129,361,San Jose,US,80.15,scattered clouds,37.3394,-121.8950,The Westin San Jose

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Laguna']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'San Jose']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Santa Barbara']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Saint George']

In [80]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [81]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(38.421, -121.4238)
(38.421, -121.4238)
(37.3394, -121.895)
(34.7333, -120.0343)
(37.1041, -113.5841)

In [86]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
start = start
end = end
waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(end, start, waypoints=waypoints, travel_mode='DRIVING')
# directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='BICYCLING')
# directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='WALKING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather Description,Lat,Lng,Hotel Name
0,83,Laguna,US,77.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,361,San Jose,US,80.15,scattered clouds,37.3394,-121.8950,The Westin San Jose
2,201,Santa Barbara,US,79.36,clear sky,34.7333,-120.0343,Upper Ballard Campground
3,235,Saint George,US,72.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [97]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  38.4210 -121.4238
1  37.3394 -121.8950
2  34.7333 -120.0343
3  37.1041 -113.5841

In [100]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))